.columna__01 {
    background-color:white;
}

.columna__02 {
    font-family:Arial, Helvetica, sans-serif;
}

.redes {
    float: right;
}

.FotoPrincipal {
    width: 100%; 
}



h1{
    font-weight:bold;
    font-size: 30px;
    color: cadetblue;
}


#menu{
    background-color: black;
    text-align: center;

}

#menu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
  


}

#menu ul li{
    display: inline-block;
    
}

#menu ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    

}

#menu ul li a:hover{
    background-color:#2747C0;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 1s;

}

    .bannerup{
        width: 100%;
        align-items: center;
        margin: 0px 0px 0px 0px;
        border-radius: 5px;
    
    }

    .bannerdown{
        width: 100%;
        align-items: center;
        margin: 0px 0px 0px 0px;
        padding: 0px;
    
    }


    #pilarcentro {
        background-color: white;
        padding: 10px;
        width: 90%;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        border-radius: 5px;
    }

    .d-none d-md-block col-md-2 columna__01{
        margin-left: 10px;
    }

    